body {
  padding: 0;
  color: #555555;
}
#page-wrapper,
.region-page-closure {
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

#page {
  padding: 0 10px;
}


#header .header-left {
  float: left;
  width: 600px;
}

#header .region-header {
  float: right;
  clear: none;
}

.sidebar-second #content {
    margin-left: 0;
    margin-right: -620px;
    width: 620px;
}


.region-sidebar-second {
  float: left; /* LTR */
  width: 300px;
  margin-left: 620px; /* LTR */ /* Width of content + sidebar-first. */
  margin-right: -960px; /* LTR */ /* Negative value of .region-sidebar-second's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */
}


.region-sidebar-second .section {
    margin: 0;
    padding: 0 0 0 20px;
}

.region-sidebar-second .block {
}

.with-navigation #content, .with-navigation .region-sidebar-first, .with-navigation .region-sidebar-second {
    margin-top: 3.7em;
}


.front .region-content-bottom .region-count-1 {
  width: 620px;
  float: left;
  margin-right:;
}

.front .region-content-bottom .region-count-1  .views-row {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px;
  padding: 5px 0;
}

.front .region-content-bottom .region-count-1  .views-row-last {
  border-bottom: 0px;
}

.front .region-content-bottom .region-count-1 .views-field-picture {
  float: left;
  margin-right: 10px;
}

.front .region-content-bottom .region-count-1 .views-field-picture img {
  border: 1px solid #cccccc;
  padding: 1px;
  margin: 0 0 10px 10px;
}

.front .region-content-bottom .region-count-1 .views-field-title {
  font-size: 1.2em;
}

.front .region-content-bottom .region-count-1 .views-field-teaser {
  font-size: ;
}

.front .region-content-bottom .region-count-1 .views-field-view-node {
  text-align: right;
}

.front .region-content-bottom .region-count-1 .views-field-view-node a {
  text-transform: uppercase;
  font-size: .8em;
}

.front .region-content-bottom .region-count-2 {
  width: 300px;
  float: left;
  margin-left: 20px;
}


.front .region-content-top .block img.quote {
  border: none;
}



/** HTML Elements **/

h1.title {
  color: #005696;
  font-weight: normal;
  margin-bottom: 10px;
}

h2.title {
  color: #A29061;
  font-weight: normal;
}

h3 {
  font-size: 1.2em;
}

h1.title, h2, h3 {
  font-weight: normal;
}

h2, h3 {
  margin-top: 1em;
}

h2.fyes-intro {
  margin-top: 0;
}

.front .region-content-bottom h2.title {
  border-bottom: 1px solid #a29061;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.front .view-content h2.title {
    border-bottom: none;
    font-size: 1.4em;
    padding: 0;
}

a:link, a:visited {
  color: #57a6e0;
  text-decoration: none;
  font-size:;
}

.region-sidebar-second ul {
  margin: 0;
  padding: 0;
}

.region-sidebar-second ul.list {
  margin-left: 25px;
}

.region-sidebar-second ul.menu li.leaf {
  list-style: none;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0;
  margin: 2px 0;
}

.menu-name-primary-links ul.menu li ul.menu {
padding-left: 15px;
}


.views-field-edit-node a {
  text-transform: uppercase;
  font-size: 11px;
}

table {
  width: 95%;
}

/** Header **/

  #header {
    background: url("../img/header_bkg_2.png") repeat-x scroll 0 0 #005696;
  }

  #logo img {
    margin: 10px;
  }

  #name-and-slogan {
    margin: 25px 0 0 10px;
    padding: 0;
  }

  #header .fcoeheader {
    margin: 0;
    padding: 10px 0 0 10px;
  }

  #header .fcoeheader a:link, #header .fcoeheader a:visited {
    color: #ffffff;
  }
  
  #header .fcoeheader #fcoe {
    text-transform: uppercase;
    font-size: 1.2em;
  }
  
  #header .fcoeheader img {
    float: left;
    margin-right: 10px;
  }
  
  .image-right {
    float: right;
    margin: 0 0px 5px 10px;
    padding: 2px;
    border: 1px solid #cccccc;
  }
  
  .image-left {
    float: left;
    margin: 0 10px 5px 0;
    padding: 2px;
    border: 1px solid #cccccc;
  }

  
 
/** Footer **/

  #footer {
    border-top: 1px solid #cccccc;
    margin: 10px 0 0 0;
    padding: 14px 0 0 0;
  }
  
  #footer .section .content {
    line-height: 1em;
  }
  
  #footer .section #block-block-3 {
    width:360px;
    float: right;
  }
  
  #footer .section #block-block-3 #fcoe-logo {
    float: right;
    margin-left: 20px;
  }
  
  #footer .section #block-block-3 #fcoe-info {
     text-align: right;
     font-size: .75em;
   }
  
  #footer .section #block-block-3 #fcoe-name {
    text-transform: uppercase;
    font-size: 1.2em;
  }
  #footer .section #block-block-3 #llp {
    font-size: 1.2em;
  }
  
/** Global Footer **/
  #global-footer {
    position: relative;
    clear: both;
    margin: 10px 0 0 0;
  }
  #global-footer .container {
    height: 120px;
    border-top: 1px solid #cccccc;
  }
  #global-footer #bottom-logo img {
    float: left;
    width: 100px;
    margin: 15px 10px 10px 10px;
  }
  #global-footer #bottom-text {
    font-size: .85em;
    padding: 1px 0 0 0;
  } 
  #global-footer #bottom-text .title {
    padding-top: 8px;
  }
  #global-footer #bottom-text .title a {
    font-size: 1.2em;
    text-transform: uppercase;
  }

 

/** Footer Super Menu **/

  #footer .section #block-block-18.block {
    margin-bottom: auto;
  }
  
  #footer .section #block-block-18 .footer-block {
    float: left;
    width: ;
    padding: 0 90px 10px 0;
    font-size: 10px;
    line-height: 17px;
  }
  
  #footer .section #block-block-18 .employeelinks {
    padding-right: 0;
  }
  
  #footer .section #block-block-18 h4 {
    font-size: 12px;
    padding-top: 0;
    margin: 4px 0;
  }
  
  #footer .section #block-block-18 ul {
    margin: 0;
    padding: 0;
  }
  
  #footer .section #block-block-18 ul li {
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #footer .section #block-block-18 dl {
    margin: 0;
    padding: 0;
  }
  
  #footer .section #block-block-18 dl dt {
    
  }
  
  #footer .section #block-block-18 dl dd {
    margin: 0;
    padding: 0;
  }
  
  #footer .section #block-block-18 .fcoeaddress {
    line-height: 14px;
  }
  
  #supermenu {
    clear: both;
  }
  
  #footer .section #supermenu .block {
    margin-bottom: auto;
  }
  
  #footer .section #supermenu .footer-block {
    float: left;
    padding: 0 40px 10px 0;
    font-size: 1em;
    line-height: 1.4em;
  }
  
  #footer .section #supermenu .footer-block.last {
    padding-right: 0;
  }
  
  #footer .section #supermenu .employeelinks {
    padding-right: 0;
  }
  
  #footer .section #supermenu h4 {
    padding-top: 0;
    margin: 4px 0;
    font-size: 1em;
  }
  
  #footer .section #supermenu ul {
    margin: 0;
    padding: 0 0 1em;
    border-bottom: none;
  }
  
  #footer .section #supermenu ul li {
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #footer .section #supermenu dl {
    margin: 0;
    padding: 0;
  }
  
  #footer .section #supermenu dl dt {
    
  }
  
  #footer .section #supermenu dl dd {
    margin: 0;
    padding: 0;
  }
  
  #footer .section #supermenu .fcoeaddress {
    line-height: 14px;
  }

  .youtube {
    margin: 5px 5px 0 0;
  }

  
  
  
/** Front Upcoming Events Block **/
  
  #block-views-events-block_1.block .content .item-list ul {
    margin: 0;
    padding: 10px 0 0 0;
    float: left;
  }
  
  #block-views-events-block_1.block .content .item-list ul li {
    float: left;
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    margin-bottom: 12px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #cccccc;
    width:290px;
  }
  
  #block-views-events-block_1.block .content .item-list ul li.views-row-last {
    border-bottom: none;
    padding-bottom: 0px;
  }
  
  #block-views-events-block_1.block .view-events .views-row {
    margin-bottom: 10px;
  }
  
  
  #block-views-events-block_1 .workshop-title {
    padding-top: 3px;
  }
  
  #block-views-events-block_1 .workshop-title .title a {
    text-decoration: none;
    font-weight: normal;
  }
  
  #block-views-events-block_1 .upcoming-date {
    float: left;
    padding: 0;
    margin-right: 10px;
    border: 2px solid #cccccc;
    width: 45px;
    background-color: #ffffff;
    color: #005696;
    text-align: center;
  }
  
  #block-views-events-block_1 .upcoming-date .month {
    font-size: .75em;
    line-height: 1em;
    display: block;
    color: #ffffff;
    background: #005696;
    padding: 3px 0;
  }
  
  #block-views-events-block_1 .upcoming-date .day {
    font-size: 1.5em;
    line-height: 1em;
    display: block;
    padding: 2px 0;
  }
  
  
/** Second Sidebar Blocks **/

  .region-sidebar-second .block {
    clear: left;
    float: left;
    display: block;
    border: ;
    padding: ;
    margin-bottom: 20px;
    width: 300px;
  }
  
  .region-sidebar-second .block .inner {
    padding: 5px;
  }
  
  .region-sidebar-second .block h2.title {
    font-size: 1.4em;
    margin: 0;
    padding: 0;
  }
  
  .region-sidebar-second .block .text {
    font-size: 0.923em;
  }
 
  .region-sidebar-second .block .img {
    float: left;
  }
  
  
  .region-sidebar-second .block-menu, .region-sidebar-second .block-menu_block, .region-sidebar-second .block-user {
    border: none;
  }
  
  
/** Foundation Block **/  
   
  .region-sidebar-second #block-block-4 {
    width: 298px;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .region-sidebar-second #block-block-4 #fcoe_foundation h2 {
    text-transform: uppercase;
    text-align: center;
    background-color: #1c6fac;
    padding: 2px 0;
    color: #ffffff;
  }
  
  .region-sidebar-second #block-block-4 #fcoe_foundation .img a {
    padding: 5px 30px;
    display: block;
  }
  
/** Rachel's Challenge Block **/ 
  .region-sidebar-second #block-block-5 {
    width: 298px;
    padding: 0;
  }
  
   .region-sidebar-second #block-block-5 .text {
    font-size: 1.1em;
    padding-top: 10px;
  }
  
  .region-sidebar-second #block-block-5 img {
     float: left;
  }
  

  
/** Front Rotating Banner **/

   #views_slideshow_singleframe_teaser_section_rotating_banner-block_1 {
    position: relative;
  }
  

   #transparency {
    position: absolute;
    top: 200px;
    left: 2px;
    width: 616px;
    height: 82px;
    background-color: #000;
    filter: alpha(opacity=70);
    opacity: 0.7;
    -moz-opacity: 0.7;
  }
  
   #spotlightcontent {
    position: absolute;
    top: 200px;
    left: 10px;
  }
  
   img.imagecache-banner_large {
    border: 2px solid #cccccc;
  }
  
   #spotlightcontent h2 {
    margin: 2px 0 0 0;
    padding: 0;
  }
  
   #spotlightcontent h2 a {
    font-size: .9em;
    font-weight: normal;
  }
  
   #spotlightcontent {
    color: #ffffff;
    font-size: .8em;
  }
  
  
/** Front Banner Blocks **/
  .front .region-content-top .block img {
    border: 1px solid #cccccc;
  }

  
 
/** Spotlight Story Node **/

  .node-type-spotlight-story .content .field-type-filefield img {
    float: right;
    border: 1px solid #cccccc;
    padding: 1px;
    margin: 0 0 10px 10px;
  }
  

  


/** News **/

  .page-news #content-area .view-content .views-row {
    border-bottom: 1px solid #A29061;
    margin-bottom: 10px;
    padding: 5px 0 10px 0;
  }
  
  .page-news #content-area .view-news .view-content .views-field-title {
    font-size: 1.2em;
  }
  
  .page-news #content-area .view-news .view-content .views-field-teaser {
    padding: 5px 0;
  }
  
  .page-news #content-area .view-content .views-row-last {
    border-bottom: 0px;
  }
  
  .page-news #content-area .view-content .views-row p {
    margin: 0;
  }
  
  .section-news .region-sidebar-second .block ul {
    padding: 0;
    margin: 0;
  }
  
  .section-news .region-sidebar-second .block ul li {
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    border-bottom: 1px dashed #A29061;
    margin-bottom: 5px;
    padding: 5px 0;
  }
  
  .section-news .region-sidebar-second .block ul li.views-row-last {
    border-bottom: 0px;
  }
  
  .section-news .region-sidebar-second #block-views-news-block_2.block {
    margin-bottom: 25px;
  }
  
  
  /** About Section - Team members **/
  
  .region-sidebar-second #block-views-team_list-block_1 ul li {
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    float: left;
    margin: 0 5px 5px 0;
  }
  
/** Events Page **/

  .view-events .views-row .views-row-inner {
    float: left;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 30px;
    padding-bottom: 15px;
  }
  

  
  .view-events .views-row .event-information {
    width: 100%;
    float: left;  
  }
  

  
  .events-body {
    float: left;
    width: 620px;
  }

  .event-reginfo {
  float: right;
  width: 150px;
  margin-right: 30px;
  background-color: #e1e1e1;
  border: 2px solid #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  }
  
  .event-reginfo-inner {
    padding: 12px 4px;
    text-align: center;
  }
  
  .event-date {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .event-date .timedisplay {
    padding: 5px;
  }
  
  .event-reglink a {
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .events-title {
    font-size: 1.5em;
    color: #555555;
  }
  
  .page-events .view-events .views-field-title {
    font-size: 1.3em;
  }
  
  
  
  /** Registration Link **/
  .views-field-field-event-reg-link-url, .field-field-event-reg-link {
    padding: 10px 0;
  }
  
  a.reg-link {
    background-color: #57a6e0;
    color: #ffffff;
    padding: 5px 10px;
  }
  a.reg-link:hover {
    background-color: #005696;
  }

  
  
  
/** Views Page Listings **/

  .view-workshops .views-row, .view-resources .views-row, .view-events .views-row {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 30px;
    padding-bottom: 15px;
  }
  
  .view-resources.simple .views-row {
    border-bottom: none;
    margin-bottom: 0;
  }

  .view-workshops .views-row-last, .view-resources .views-row-last, .view-events .views-row-last {
    border-bottom: none;
  } 
  
  .view-workshops .views-row .views-field-title {
    font-size: 1.2em;
  }
  
  .view-resources .views-row .views-field-title {
    font-size: 1em;
  }
  
  
  .views-exposed-form .views-exposed-widget {
    padding-bottom: 1em;
  } 
  
  .view-taxonomy-term .views-row .views-field-title {
    font-size: 1.2em;
  }
  
  
  
  
/** Upcoming Workshops Block **/
  #block-views-workshops-block_1 .views-field-body .field-content p {
    margin-top: .5em;
  }
  
   



/** Blog Page **/

  .page-blog .view-content .views-row {
    margin-bottom: 10px;
    padding: 5px 0;
    border-bottom: 1px solid #cccccc;
  }
  
  .page-blog .view-content img {
   float: left;
   border: 1px solid #cccccc;
   padding: 1px;
   margin: 0px 5px 10px 0;
 }
 
/** Multisite Search **/
  #block-multisite_search-0.block {
    float: right;
    width: 250px;
    padding-top: 6px;
  }
  #block-multisite_search-0 .content #edit-multisite-search-block-form-keys.form-text {
    width: 150px;
  }
  
  
/** Contact Lists **/
.section-contact #content-area .view-employee-listing h3 {
  border-top: 1px solid #E3E3E3;
  clear: both;
  color: #A29061;
  margin: 20px 0 3px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.section-contact #content-area .view-employee-listing .views-row {
  float: left;
  margin-bottom: 15px;
  width: 310px;
  height: 150px;
}

.section-contact #content-area .view-employee-listing .views-row .views-field-title {
  font-weight: 700;
}

.section-contact #content-area .view-employee-listing .views-row .views-field-field-employee-image-fid {
  float: left;
  margin-right: 10px;
}

.section-contact #content-area .view-employee-listing .views-row .views-field-field-employee-image-fid img {
  border: 1px solid #cccccc;
  padding: 2px;
}


/** Contact List w Images **/

.section-contact #content-area .view-employee-listing-img .views-row {
  float: left;
  margin-bottom: 15px;
  width: 310px;
  height: 225px;
}

.section-contact #content-area .view-employee-listing-img .views-row .views-field-title {
  font-weight: 700;
}

/** Bios **/

.node-type-employee .field-field-employee-image {
  float: left;
  margin: 0 10px 10px 0;
}

.view-people-bios #people-bio {
	margin-bottom: 30px;
	float: left;
}

.view-people-bios .people-img {
	float: left;
	width: 250px;
	margin: 0 20px 0 0;
}

.view-people-bios .people-bio {
	float: left;
	width: 350px;
}

.view-people-bios dl {
	margin: 0;
}

.view-people-bios dd {
	margin: 0;
}

.view-people-bios .name h2 {
	margin-top: 0;
	margin-bottom: 0;
}

.view-people-bios .job-title {
	font-weight: 700;
}



/** Common Core Block **/

  .region-sidebar-second .block #common-core-block .title {
    color: #8DC63F;
    font-size: 1.3em;
    padding-top: 9px;
  }
  
  .region-sidebar-second .block #common-core-block .subtitle {
    color: #E36F1E;
  }
  
  .region-sidebar-second .block #common-core-block .img img {
    margin-right: 10px;
}


/** Math on Call Block **/
  #block-block-2.block .inner {
  }
  
  #mathoncall-block .img img {
    margin-right: 5px;
  }
  
  #mathoncall-block .title {
    font-weight: 700;
    margin-top: 5px;
  }


/** SME Fair Block **/

  #smefair-block .title {
    font-weight: 700;
    margin-top: 10px;
  }
  
  #smefair-block .img img {
    margin-right: 5px;
  }
  
  #smefair-block .subtitle {
    margin-top: 5px;
  }
  
  
  
/** Science Olympiad Block **/

  #olympiad-block .title {
    font-weight: 700;
    margin-top: 10px;
  }
  
  #olympiad-block .img img {
    margin-right: 10px;
    margin-top: 7px;
  }
  
  #olympiad-block .subtitle {
    margin-top: 5px;
  }
  
  
/** STEAM Block **/

  .region-sidebar-second #block-block-6.block {
    border: none;
    margin-top: 30px;
  }
  
  .region-sidebar-second #block-block-6.block .steam-logo {
    float: left;
    width: 175px;
  }
  
  .region-sidebar-second #block-block-6.block .steam-text {
    float: right;
    width: 120px;
    padding: 20px 0 0;
    font-size: 1.1em;
    line-height: 1.2em;
  }

/** Aggregator Block **/

  .region-sidebar-second #block-aggregator-feed-1.block {
    border: none;
  }





  
  
/** Library Services Page **/

  .page-library-services #libraryservices-top-inner .description img {
    float: left;
    margin: 0 10px 10px 0;
  }
  
  .page-library-services #libraryservices-bottom-inner {
  }
  
  .page-library-services .left, .page-library-services .middle, .page-library-services .right {
    float: left;
    width: 200px;
    display: block;
    margin-right: 10px;
  }
  
  .page-library-services .right {
    margin-right: 0;
  }
  
/** Event Trainers **/

  #block-views-events_trainers-block_2  .views-row {
    border-bottom: 1px solid #cccccc;
    padding: 5px 0;
    margin-bottom: 10px;
    clear: left;
  }
  
  #block-views-events_trainers-block_2  .views-row-first {
    margin-top: 10px;
  }
  
  #block-views-events_trainers-block_2  .views-row-last {
    border-bottom: none;
  }
  
  #block-views-events_trainers-block_2  .views-row #event-trainer {
    display: inline-block;
    
  }
  
  #block-views-events_trainers-block_2  .views-row .trainer-img {
    float: left;
    width: 80px;
  }
  
  #block-views-events_trainers-block_2  .views-row .trainer-img img {
    border: 1px solid #cccccc;
    padding: 1px;
    
  }
  
  #block-views-events_trainers-block_2  .views-row .trainer-info {
    float: right;
    width: 220px;
  }
  
   #block-views-events_trainers-block_2  .views-row .trainer-info dd {
     margin: 0 0 5px 10px;
   }
   
   
   
/** FYES Resources Page Boxes **/   
  .page-resources #content #content-area .content #fyes-groups dl {
    width: 310px;
    float: left;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #cccccc;
  }
  
  .page-resources #content #content-area .content #fyes-groups dl.odd {
    margin-right: 25px;
  }
  
  .page-resources #content #content-area .content #fyes-groups dl dt {
    font-size: 1.2em;
    font-weight: bold;
    float: right;
    width: 205px;
  }
  
  .page-resources #content #content-area .content #fyes-groups dl dd {
    margin: 0;
    padding: 0;
  }
  
  .page-resources #content #content-area .content #fyes-groups dl dd.img img {
    float: left;
    margin: 0 12px 0 0;
    padding: 0;
    border: 1px solid #cccccc;
  }
  
  
  
/** ITS Services - Services Layouts  **/

  .services-image {
    display: block;   
    margin-left: auto;   
    margin-right: auto;
  }
  
  .services-container {
    display: block;
    margin-top: 10px;
    width: 670px;
  }
  
  .services-content {
    float: left;
    font-size: 100%;
    width: 480px;
  }
  
  .services-sidelist {
    float: left;
    width: 170px;
    margin-left: 20px;
  }
  
  .services-sidelist h3 {
    margin-top: 5px;
  }
  
  .services-sidelist ul {
    padding-left: 0.3em;
    padding-bottom: 0.3em;
    font-weight: 400;
    list-style: none;
  }
  
  .services-sidelist ul li{
    padding-bottom: 0.3em;    
    }
    
  .services-sidelist ul ul li{
    padding-left: 0.5em;
    font-size: 85%;
    list-style: none;
    font-weight:100;
  }
  .region-sidebar-second #block-block-4 {
    border: none;
    width: 285px;
  }
  
  
  
  
  /** Navigation Using Primary Links Block and drop-down menus **/

   #navigation {
    background: url(../img/nav_bkg.png) scroll 0 0 repeat-x #acacac;
    height: auto;
    overflow: visible;
    font-size: .875em;
  }
  
  #navigation .block {
    margin: 0;
    padding: 0;
  }
  
  #block-menu-primary-links ul {
    z-index: 998;
  }

/* remove any previously set margins and paddings */
  #block-menu-primary-links { 
    margin: 0; 
    padding: 0;
    z-index: 998;
    float: ;
    }

/* set width/height on <li>, <a>, <li><ul> */
  
  #block-menu-primary-links a, #block-menu-primary-links span { 
    color: #ffffff;
    text-decoration: none;
    padding: 10px 25px;
    display: block;
    text-transform: uppercase; 
  } 

/* remove <li> list styling off */
  #block-menu-primary-links li { 
    list-style: none; 
    
    }

/* set <li> position */
  #block-menu-primary-links li { 
    float: left; 
    position: relative; 
    padding: 0;
    }
    
  #block-menu-primary-links li a:hover {
    color: #ffffff;
    background-color: #b8b8b8;
  }
  
  #block-menu-primary-links li a.active:hover, #block-menu-primary-links li.active-trail a:hover {
    color: #ffffff;
  }

/* set position of <ul> in <li> */
  #block-menu-primary-links li ul { 
    top: 38px; 
    left: 0px; 
    position: absolute; 
    display: none; 
    }

/* position child <ul> */
  #block-menu-primary-links li ul ul { 
  margin: -40px 0 0px 269px; 
  }

  #block-menu-primary-links li.expanded a, #block-menu-primary-links li.expanded span {
    background: url(../img/arrow-down-grey.png) scroll 9px 15px no-repeat transparent;
    margin-right: 5px;
  }
 
  #block-menu-primary-links li.expanded a:hover, #block-menu-primary-links li.expanded span:hover  {
    background: url(../img/arrow-down-grey.png) scroll 9px 15px no-repeat #b8b8b8;
  }

  
  #block-menu-primary-links ul li.expanded ul li a, #navigation ul li.expanded ul li a:visited, #block-menu-primary-links ul li.expanded ul li span {
    background: url() scroll 0 0 repeat-x #acacac;
    border-bottom: 1px solid #bababa;
    width: 245px;
    font-size: .8em;
    padding: 12px;
  }
  
  #block-menu-primary-links ul li.expanded ul li.leaf.first a, #block-menu-primary-links ul li.expanded ul li.leaf.first span {
    border-top: 1px solid #bababa;
  }
  
  #block-menu-primary-links ul li.expanded ul li a:hover, #block-menu-primary-links ul li.expanded ul li span:hover {
    background: #b8b8b8;
  }  


/** Workshop Series **/

  .view-workshops-series-list .views-row {
    margin: 0 10px 10px;
    padding: 10px 0;
    border-bottom: 1px solid #cccccc;
  }
  .view-workshops-series-list .views-row-last {
    border: none;
  }
  .node-type-workshop-series .field-field-district {
    font-size: 1.2em;
  }
  .view-workshops-series-list .views-row .views-field-title {
    font-size: 1.2em;
  }
  .view-workshops-series-list .views-row label {
    font-weight: 700;
  }
  .workshop_field_workshop_series_ref a {
    background: #57A6E0;
    color: #ffffff;
    padding: 5px 7px;
    text-transform: uppercase;
  }
  a.workshop-series-reg {
    background: #57A6E0;
    color: #ffffff;
    padding: 7px 7px 5px;
    text-transform: uppercase;
  }
  
  
/** Photo Gallery **/
  .node-type-photo-gallery .field-field-photos .field-item {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .node-type-photo-gallery .field-field-photos .field-item img {
    padding: 2px;
    border: 1px solid #cccccc;
  }
  
  
/** Vendor Listing **/
  .view-vendors .views-row {
    margin: 0 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
  }
  
  .view-vendors .views-row-last {
    border-bottom: none;
  }
  
  .view-vendors label {
    font-weight: 700;
  }


.credentials-contact-info {
  padding: 5px 0 20px;
}


/** FYES Liaisons Table **/


.view-liaisons table {
	margin-bottom: 35px;
}
.view-liaisons caption {
		text-align: left;
}
.view-liaisons tbody tr {
	border: 1px solid #cccccc;
}
.view-liaisons td {
		width: 25%;
		padding: 3px;
}


.notebook {
    display: inline-block;
    margin-bottom: 40px;
    vertical-align: middle;
}

.notebook.odd {
    margin-right: 25px;
}

.notebook img {
	border: 1px solid #ccc;
  padding: 2px;
}

.front-side-by-side {
	margin-top: 20px;
}

#content .front-side-by-side .section {
	clear: left;
	display: inline-block;
	margin-bottom: 20px;
}
.front-side-by-side .left {
	float: left;
	width: 250px;
	margin-right: 20px;
}
.front-side-by-side .right {
	float: left;
	width: 350px;
}