  
h1.title {
  color: #005696;
  font-weight: normal;
  margin-bottom: 10px;
}

h2.title {
  color: #A29061;
  font-weight: normal;
}

h3 {
  font-size: 1.4em;
}

h1.title, h2, h3 {
  font-weight: normal;
}

h2, h3 {
  margin-top: 1em;
}

a:link, a:visited {
  color: #57a6e0;
  text-decoration: none;
  font-size:;
}
  
.align-image-right {
  float: right;
  margin: 0 10px 10px 0;
  padding: 2px;
  border: 1px solid #cccccc;
}
  
.align-image-left {
  float: left;
  margin: 0 0 10px 10px;
  padding: 2px;
  border: 1px solid #cccccc;
  }
  